{{ form_row(form.languageMother) }}

{{ form_row(form.languages) }}
<div class="row">
    <div class="col-md offset-md-8">
        <div class="form-group">
            <button class="btn btn-block btn-primary" type="button" data-trexima-european-cv-dynamic-collection-add="#{{ form.languages.vars.id }}">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Pridať jazyk
            </button>
        </div>
    </div>
</div>